html
  height 100%
  
body
  height 100%
  color #444

ul
  padding 0

li
  list-style-type none

h1.title
  text-transform uppercase
  a
    color #444
    text-decoration none

nav
  position fixed
  width 20%
  z-index 9999
  padding 1em
  margin 1em
  border 2px dotted #eee
  background white
  text-align center
  header
    p
      font-size 0.8rem
  ul h1
    font-size 0.8rem
  li
    display inline
    a
      font-size 0.8rem
      text-decoration none
      display inline
      background white
      padding 0.25em

#map
  width 100%
  height 100%
