html {
  height: 100%;
}
body {
  height: 100%;
  color: #444;
}
ul {
  padding: 0;
}
li {
  list-style-type: none;
}
h1.title {
  text-transform: uppercase;
}
h1.title a {
  color: #444;
  text-decoration: none;
}
nav {
  position: fixed;
  max-width: 25%;
  z-index: 9999;
  padding: 1em;
  margin: 1em;
  border: 2px dotted #eee;
  background: rgba(255,255,255,0.9);
  text-align: center;
}
nav header p {
  font-size: 0.8rem;
}
nav ul {
  border-top: 2px dotted #eee;
  padding-top: 1em;
}
nav ul h1 {
  font-size: 0.8rem;
}
nav div {
  border-bottom: 1px solid #eee;
}
nav li {
  display: inline-block;
  width: 31%;
  font-size: 0.8rem;
}
nav li a {
  text-decoration: none;
  display: inline;
}
#map {
  width: 100%;
  height: 100%;
}
