html {
  height: 100%;
}
body {
  height: 100%;
  color: #444;
}
ul {
  padding: 0;
}
li {
  list-style-type: none;
}
h1.title {
  text-transform: uppercase;
}
h1.title a {
  color: #444;
  text-decoration: none;
}
nav {
  position: fixed;
  width: 20%;
  z-index: 9999;
  padding: 1em;
  margin: 1em;
  border: 2px dotted #eee;
  background: #fff;
  text-align: center;
}
nav header p {
  font-size: 0.8rem;
}
nav ul h1 {
  font-size: 0.8rem;
}
nav li {
  display: inline;
}
nav li a {
  font-size: 0.8rem;
  text-decoration: none;
  display: inline;
  background: #fff;
  padding: 0.25em;
}
#map {
  width: 100%;
  height: 100%;
}
