body
  background #f0f0f0
  padding 1em
  color #444

ul
  padding 0

li
  list-style-type none

h1.title
  a
    color #444
    text-decoration none

nav
  header
    border-bottom 2px solid #ddd
  max-width 15em
  ul h1
    font-size 1rem
  li
    display inline
  li.entry
    background #fff
  li a
    font-size 0.8rem
